{% extends "template.html" %}
{% block content %}
<div class="starter-template">
    <h1>Quick Test</h1>
    <p class="lead">Use this form to quickly test the service.<br> Results will be displayed in JSON.</p>
    <form action="{{ url_for('asciiart') }}" method="post" enctype="application/x-www-form-urlencoded" novalidate>
        <div class="form-group">
            {{ form.hidden_tag() }}
            <label for="file">Text</label>
            
            <input id="file" type="text" name="text" autocomplete="off" class="form-control-file" required>
            <button type="submit" class="btn btn-primary">Generate</button>
        </div>
    </form>
    
    <div>Type in any text to convert to ASCII Art</div>

</div>   
{% endblock %}
